* {
  --background: hsl(233, 47%, 7%);
  --cardBackground: hsl(244, 38%, 16%);
  --accent: hsl(277, 64%, 61%);
}

body {
  height: 100vh;
  font-size: 15px;
  background: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 375px;
  height: 90%;
  background: var(--cardBackground);
  border-radius: 5px;
  text-align: center;
  font-family: "Inter";
}

h1 {
  padding-top: 15px;
}

.upper-text p {
  color: hsla(0, 0%, 100%, 0.8);
  padding-left: 20px;
  padding-right: 20px;
}

.upper-text span {
  color: hsl(277, 64%, 61%);
}

.img-sec {
  height: 32%;
  width: 100%;
  background: rgb(170, 92, 219);
  background: linear-gradient(
      90deg,
      rgba(170, 92, 219, 0.5) 0%,
      rgba(170, 92, 219, 0.5) 100%
    ),
    url(/images/image-header-mobile.jpg);
  background-size: cover;
  border-radius: 5px;
}

.info {
  color: white;
}

.overviews {
  padding: 0.5rem;
}

.overviews span {
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

.overviews p {
  font-size: 12px;
  color: hsla(0, 0%, 100%, 0.6);
}

@media (min-width: 1280px) {
  .card {
    height: 25rem;
    width: 60rem;
    display: flex;
    flex-direction: row-reverse;
  }
  .img-sec {
    background-size: cover;
    background: linear-gradient(
        90deg,
        rgba(170, 92, 219, 0.5) 0%,
        rgba(170, 92, 219, 0.5) 100%
      ),
      url(images/image-header-desktop.jpg);
    height: 100%;
    width: 100%;
  }
  .overviews {
    display: inline-block;
  }
  .upper-text {
    padding: 50px;
  }
  .upper-text p {
    padding: 0;
  }
  h1 {
    padding-top: 0px;
  }
} ;
